.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #333;
}

.header-title {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 0.5rem;
}